//import fonts
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
//overwrite Bootstrap theme variables

$light: #39240c;
$dark: #281d17;
$primary: #ff993f;

$cwidth: (
    65: 65%,
    60: 60%,
    80: 80%,
    40: 40%,
    35: 35%,
    30: 30%,
);

//import Bootstrap css
@import 'bootstrap/scss/bootstrap.scss';

.modal {
    --bs-modal-bg: #00000;
    --bs-modal-padding: 3rem;
    --bs-modal-border-width: 0px;
}

.modal-dialog {
    --bs-modal-width: 1024px;
}

.button-text {
    font-size: 16px;
    font-family: 'Bungee', Regular;
    font-weight: 400;
}


@import './navbar.scss';

@import './home.scss';

@import './about.scss';

@import './news.scss';

