//import fonts
@import url('https://fonts.googleapis.com/css?family=Bungee');

//overwrite Bootstrap theme variables

$light: #39240c;
$dark: #281d17;
$primary: #ff993f;


//import Bootstrap css
@import 'bootstrap/scss/bootstrap.scss';

.modal {
    --bs-modal-bg: #00000;
    --bs-modal-padding: 3rem;
    --bs-modal-border-width: 0px;
}

.modal-dialog {
    --bs-modal-width: 1024px;
}

.button-text {
    font-size: 16px;
    font-family: 'Bungee', Regular;
    font-weight: 400;
}

@import './navbar.scss';

@import './home.scss';

@import './about.scss';

@import './news.scss';