/* home page */

.dungeons-logo {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 325px;
    object-fit: contain;
}

.about-bg {
    height: 80vh;
    max-height: 800px;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
}

.about.div1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 5vw 0px;
    width: 100%;
}

.about.div2 {
    grid-column: 3 / span 2;
    grid-row: 1;
    padding: 10vw 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.1;
    text-shadow: 2px 2px 5px #000000;
}

.about.div3 {
    grid-column: 3 / span 2;
    grid-row: 2;
    padding: 10vw 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.1;
    text-shadow: 2px 2px 5px #000000;
}

.news-preview {
    width: 25%;
    margin: 10px;
    height: 500px;
    cursor: pointer;
}

@media (max-width: 1375px) {
    .about-bg {
        height: 65vh;
        grid-template-rows: repeat(4, 150px);
    }
    .about.div3 {
        grid-row: 3;
    }
    .news-preview {
        width: 35%;
        margin-bottom: 100px;
    }
}

@media (max-width: 1200px) {
    .about-bg {
        height: 600px;
        grid-template-rows: repeat(4, 150px);
    }
    .about.div3 {
        grid-column: 1 / span 4;
        grid-row: 3;
        text-align: center;
    }
    .news-preview {
        width: 55%;
    }
}

@media (max-width: 767px) {
    .about-bg {
        grid-template-rows: repeat(4, 150px);
    }
    .display-lg {
        display: none;
    }
    .news-preview {
        width: 80%;
        margin: 0px;
        margin-bottom: 100px;
    }
}

@media (max-width: 400px) {
    .about-bg {
        grid-template-rows: repeat(4, 125px);
    }
    .about.div1 {
        grid-column: 1 / span 4;
    }
    .about.div2 {
        grid-column: 1 / span 4;
        grid-row: 2;
        text-align: center;
    }
    .about.div3 {
        grid-row: 4;
    }
    .news-preview {
        width: 100%;
        margin: 0px;
        margin-bottom: 100px;
    }
}